<router-outlet></router-outlet>

  <div class="top-menu">
    <ul class="menu__box">
      <li><a class="menu__item" routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a class="menu__item" routerLink="/item-list"routerLinkActive="active-link">Tasks</a></li>
      <li *ngIf="(AuthenticationService.currentUser$ | async)">
        <a class="menu__item" routerLink="/calendar"routerLinkActive="active-link">Calendar</a>
      </li>
      <!--Preamble
        Ian
        10/5
        This function displays login/logout depending if the user is loged in/out
        V1.0
      -->
      <li *ngIf="!(AuthenticationService.currentUser$ | async)">
        <a class="menu__item" routerLink="/login" routerLinkActive="active-link">Login</a>
      </li>
      <ng-container *ngIf="AuthenticationService.currentUser$ | async as user; else logoutButton">
        <li><a class="menu__item" href="javascript:void(0)" (click)="logout()" routerLinkActive="active-link">Logout</a></li>
      </ng-container>
      <li><span class="user">{{user?.email}}</span></li>
      <ng-template #logoutButton></ng-template>
    </ul>
  </div>